/node_modules
/public/hot
/public/storage
/public/js/app.js
/storage/*.key
/storage/google
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
_ide_helper.php
.php_cs.cache
/nbproject/
/config/cert/*.txt
*.bat
package-lock.json
yarn.lock
software
/vendor
dist
/*.lock
